LANGGRAPH_DATABASE_URI=postgresql://user:password@localhost:5432/dbname
REDIS_URL=redis://:password@localhost:6379/0

OPENAI_MODEL_NAME=
OPENAI_BASEURL=
OPENAI_API_KEY=

LANGGRAPH_EMBED_MODEL=
LANGGRAPH_EMBED_DIMENSION=
LANGGRAPH_EMBED_MODEL_BASE_URL=
LANGGRAPH_EMBED_MODEL_API_KEY=

# LANGFUSE_PUBLIC_KEY=
# LANGFUSE_SECRET_KEY=
# LANGFUSE_HOST=
